body, html {
  height: 100%;
  margin: 0;
}


.recipe-link{
  color: white;
}

recipe-description{
  margin-top: 20px;
  color: white;
}


.favourite_pic {
  background-image: url("/static/images/brooke-lark-230140-unsplash.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe_pic {
  background-image: url("/static/images/recipe_pic.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.categories_pic {
  background-image: url("/static/images/dan-gold-298710-unsplash.jpg");
   height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add_recipe_pic {
  background-image: url("/static/images/aaron-burden-64849-unsplash.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-description{
  padding-top: 110px;
}

.homepage-item{
  padding-left: 170px;
}

.category-image-size{
  padding-bottom: 200px;
  width: 80%;
}

.centered {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

p {
  text-align: center;
  letter-spacing: 3px;
  display: inline-block;
  margin: 15px 0px 24px 0px;
  
}
.desc {
  color: black;
}

.prep {
  padding-top: 5px;
  display: inline-block;
  font-family: "Ek Mukta",Helvetica,Arial,Sans-serif;
  color: #2e9fb3;
  font-size: 1.625rem;
}

.cookingInfo {
  font-weight: 700;
  margin-top: 10px;
  font-size: 15px;
}

.cooking-time{
  color: #2e9fb3;
  font-size: 15px;
  
}

.ingredient-style{
  border: 1px solid;
  opacity: 0.8;
  font-family: monospace;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.cooking

.navbar-fixed-top {
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
  color: white;
   text-decoration: none;
}


li a{
  color: black;;
  text-decoration: none;
}

li a:hover{
  color: black;;
  text-decoration: none;
}

.favourite{
  color: orange;
}

.checked:hover{
  color: orange;
}

.select-delete:hover{
  color: red;
}

.select-edit:hover{
  color: blue;
}

.responsive {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.recipe-details-container {
    padding: 0 .625rem;
    background-color: #fcf4ec;
    margin-bottom: 35px;
}

.fa {
  display: inherit;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fas {
  display: inherit;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.far {
  display: inherit;
  padding: 7px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-utensils {
  background: #a41dda;
  color: white;
}

.fa-clock {
  background: #1ddab8;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-print {
  background: #a4c639;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-edit {
  background: #45bbff;
  color: white;
}

.fa-trash {
  background: #430297;
  color: white;
}

.fa-envelope {
  background: #ff6600;
  color: white;
}

  
.myMenuItems-banner {
  font-family: "Roboto", Times, serif;
  font-size: 40px;
  font-weight: bold;
  color: #428bca;
}

.myMenuItems {
  font-family: "Ek Mukta", Times, serif;
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
}

h1 {
    text-align: center;
    font-family: "Ek Mukta", Times, serif;
    font-size: 40px;
    text-transform: capitalize;
    color: #333;
    letter-spacing: .2px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: lighter;
}
  
h1 a{
  color: black;
  font-weight: bolder;
}
  
h1 a:hover {
  text-decoration: none;
  color: #ACAF50;
 }
 
h2{
  max-width: 500px;
  margin: 0 auto;
  font-size: 5rem;
  color: white;
  line-height: 1.2;
  font-family: "Ek Mukta", Times, serif;
  font-weight: 400;
  text-transform:  capitalize;
}

@media only screen and (max-width: 749px){
h2 {
    
    font-size: 3.4rem;
    line-height: 1.23529;
}
}

h3 a {
    font-family: "Ek Mukta", Times, serif;
    font-size: 30px;
    font-weight: inherit;
    color: rgba(0,0,0,.9);
}

h3 a:hover{
  text-decoration: none;
  color: #ACAF50;
}

h3{
  text-align: center;
}

h4 a{
  font-family: "SerifaBT-Light",Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin: 0 0 2px;
    padding: 0;
    font-weight: 100;
    
}


hr {
      width: 65%;
    height: 1px;
    background-color: #d9edf7;
}

ul li {
  list-style-type: none;
   
}

.wrapper{
  background-color: grey;
}



.navbar-default {
    background-color: white;
    z-index: 1;
}

.navbar-default .navbar-nav>li>a {
    color: #2e9fb3;
}

div {
    text-align: center;
    margin-bottom: 15px;
}

.direction {
  background-color: #2e9fb3;
    color: white;
    width: 80px;
    height: 30px;
    display: inline-block;
    border-style: none;
    
}

/* Bootstrap modified code - start */

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: -20px;
    border-radius: .3rem;
    background-color: transparent;
}

.navbar-brand {
    padding: 17px 34px;
    margin-top: -15px;
}
    

.container-fluid {
    height: 50px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #2e9fb3;
    background-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #2e9fb3;
}

.navbar {
    border: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #2e9fb3;
    
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    margin-right: 60px;
    margin-left: 60px;
}

.navbar-default .navbar-brand {
    color: #2e9fb3;
}

.dropdown-menu>li>a {
  background-color:  white;
}

.dropdown-menu>li>a:hover {
  background-color:  #2e9fb3;
  color: blue;
  
}

.dropdown-menu {
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    padding-right: 50px;
}

.form-control {
  border-radius: 10px;
}

.btn-primary {
    color: white;
    background-color: #04EF0B;
    border-color: #04ef1a;
    border-radius: 10px;
    height: 40px;
    width: 90px;
}

textarea.form-control {
    height: 180px;
}

.container-fluid {
    padding-right: inherit;
    padding-left: inherit;
}

td {
    padding: 0;
    text-align: left;
}

ol>li{
  text-align: left;
  font-size: 17px;
  float: left;
  padding: 8px;
  margin-left: -15px;;
  font-family: monospace;
  margin-right: 10px
}



.bg-light {
    background-color: transparent!important;
}





/* Bootstrap modified code - end */


/* W3schools side navbar modified code to suit this project - start */


.container-style {
  position: absolute;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ccc;
}

.container:hover .overlay {
  opacity: 0.8;
}

.content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.text {
  color: Black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

ul{
  list-style-type:none; 
}

/* W3schools side navbar modified code to suit this project - end */
