{% extends 'base.html' %}

{% block content %}

<div class="container">


<h3>Add Recipe</h3>

<form action="{{ url_for('insert_recipe')}}" onsubmit="return validateForm()" method="POST">
  <div class="row">
    <div class="col-md-3  col-md-offset-3">
        <label >category</label>
      <select class="form-control" id="category" name="category_name">
          <option value="" disabled selected>choose category</option>
          {% for cat in categories %}
          <option value="{{cat.category_name}}">{{cat.category_name}}</option>
          {% endfor %}
      </select>
    </div>
    <div class="col-md-3  ">
        <label >Recipe Title</label>
      <input type="text" id="title" name="title" class="form-control" placeholder="Recipe Title">
      
    </div>
    <div class="col-md-3  col-md-offset-3">
        <label >Difficulty</label>
      <input type="text" id="difficulty" name="difficulty" class="form-control" placeholder=" out of 5">
      
    </div>
    
    <div class="col-md-3 ">
        <label >preparation time</label>
      <input type="text" id="preparation_time" name="preparation_time" class="form-control" placeholder="preparation time">
      
    </div>
    <div class="col-md-3  col-md-offset-3">
        <label >cooking time</label>
      <input type="text" id="cooking_time" name="cooking_time" class="form-control" placeholder="cooking time"></input>
      
    </div>
    <div class="col-md-3 ">
        <label >Description</label>
        <textarea type="text" id="description" name="description" class="form-control" placeholder="Description"></textarea>
      
    </div>
    
    <div class="col-md-3  col-md-offset-3">
        <label >Ingredients</label>
        <textarea type="text" id="ingredients" name="ingredients" class="form-control" placeholder="Ingredients"></textarea>
      
    </div>
    
    <div class="col-md-3">
        <label >Instructions</label>
        <textarea type="text" id="cooking_instructions" name="cooking_instructions" class="form-control" placeholder="Cooking Instructions"></textarea>
      
    </div>
  </div>
  
  
  <div class="form-check">
   
        <input type="checkbox" class="slider" id="gluten_free" name="gluten_free">
        <label class="form-check-label" for="exampleCheck1">Gluten Free</label>
   
    
  </div>
  
      <div class="form-check">
        
            <input type="checkbox" class="slider" id="vegan_friendly" name="vegan_friendly">
            <label class="form-check-label" for="exampleCheck1">Vegan Friendly</label>
       
      </div>
      
      <div class="form-check">
        
            <input type="checkbox" class="slider" id="add_favourite" name="add_favourite">
            <label class="form-check-label" for="exampleCheck1">Add to Favourites</label>
       
      </div>
  
  <div>
      <button type="submit"  class="btn btn-primary">Submit</button>
  </div>
  
</form>

</div>




    
{% endblock %}