<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        
         <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
         <!-- fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
        
        <!-- local stylesheet -->
        <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
        
    </head>

    <body>
    <!-- nav menu for mobile format(smartphone/tablet) -->
    <div class="jumbotron container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-bottom">
            <a class="navbar-brand"  href="/home_page">My CookBook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav navbar-right d-lg-none">
                <li class="nav-item"><a href="/list_recipes">Recipes</a></li>
                <li class="nav-item"><a href="/show_favourites">Favourites</a></li>
                <li class="nav-item"><a href="/list_categories">Categories</a></li>
                <li class="nav-item"><a href="/add_recipe">Add Recipe</a></li>
            </ul>
        </div>
        </nav>
    </div>



    
    {% block content %}
        {% endblock %}
        
  <!-- jquery libraries -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
   <!-- bootstrap javascript libraries -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   
   <!-- materialize javascript libraries -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   
   
   <script>
      
      /* validation function to stop entering empty field forms - start */ 
      function validateForm(){
        
        
        
        if(document.getElementById('title').value == ""){
         document.getElementById('title').focus();
         document.getElementById("title").placeholder = "Please enter a title";
         document.getElementById('title').style.borderColor ="red";
         return false;
        }

      
       var number = document.getElementById('difficulty').value;

        // If number is Not a Number or less than one or greater than 5
        if (isNaN(number) || number < 1 || number > 5) {
          document.getElementById('difficulty').focus();
          document.getElementById('difficulty').style.borderColor ="red";
          return false;
          } 
          
        var number2 = document.getElementById('serves').value; 
         // If number is Not a Number or less than one or greater than 5
        if (isNaN(number2) || number2 < 1 || number2 > 5) {
          document.getElementById('serves').focus();
          document.getElementById('serves').style.borderColor ="red";
          return false;
          }
          // Check to make sure input is not blank
        if(document.getElementById('preparation_time').value == ""){
         document.getElementById('preparation_time').focus();
         document.getElementById("preparation_time").placeholder = "Please enter a preparation time";
         document.getElementById('preparation_time').style.borderColor ="red";
         return false;
        }
        // Check to make sure input is not blank
        if(document.getElementById('cooking_time').value == ""){
         document.getElementById('cooking_time').focus();
         document.getElementById("cooking_time").placeholder = "Please enter a cooking time";
         document.getElementById('cooking_time').style.borderColor ="red";
         return false;
        }
        // Check to make sure textarea is not blank
        if(document.getElementById('description').value == ""){
         document.getElementById('description').focus();
         document.getElementById("description").placeholder = "Please enter a description";
         document.getElementById('description').style.borderColor ="red";
         return false;
        }
        // Check to make sure textarea is not blank
        if(document.getElementById('ingredients').value == ""){
         document.getElementById('ingredients').focus();
         document.getElementById("ingredients").innerHTML = "Please enter a list of ingredients";
         document.getElementById('ingredients').style.borderColor ="red";
         return false;
        }
        // Check to make sure input is not blank
        if(document.getElementById('cooking_instructions').value == ""){
         document.getElementById('cooking_instructions').focus();
         document.getElementById("cooking_instructions").innerHTML = "Please enter cooking instructions";
         document.getElementById('cooking_instructions').style.borderColor ="red";
         return false;
        }
      }
      
      /* validation function to stop entering empty field forms - end */ 
      
      /* function for switch between tabs on mobile version - start */
      
      function openTab(event, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      event.currentTarget.className += " active";
    }
    
    /* function for switch between tabs on mobile version - end */
    
    function selectCategory() {
        var thaiFood;
        var italianFood;
        
        
        thaiFood = document.getElementById("myThai").value;
        italianFood = document.getElementById("myItalian").value;
        
        
        document.getElementById("demo").innerHTML = thaiFood;
        document.getElementById("demo").innerHTML = italianFood;
        
    }
     

  
      </script>
    
    </body>

    
</html>