<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- fontawesome -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

    
    <!-- local stylesheet -->
    <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
    
</head>

<body>
    
        <div class="container-fluid header">
            
            
            
          <nav class="navbar navbar-default">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"  onclick="openNav()" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand myMenuItems-banner"  href="/home_page">My CookBook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="sidenav" id="bs-example-navbar-collapse-1">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <ul class="nav navbar-nav navbar-right">
        <li class="myMenuItems"><a href="/list_recipes">Recipes</a></li>
        <li class="myMenuItems"><a href="/list_categories">Categories</a></li>
        <li><a class="myMenuItems" href="/show_favourites">Favourites</a></li>
        <li><a class="myMenuItems" href="/add_recipe">Add Recipe</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
    
</nav>
</div><!-- /.container-fluid -->
    
    {% block content %}
        {% endblock %}
        
  
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <script>
   
      function myPrint() {
        window.print();
      }
      
      function openNav() {
       document.getElementById("bs-example-navbar-collapse-1").style.width = "100%";
      }


      function closeNav() {
        document.getElementById("bs-example-navbar-collapse-1").style.width = "0";
      }
      
      /* validation function to stop entering empty field forms - start */ 
      function validateForm(){
        
        
        
        if(document.getElementById('title').value == ""){
         document.getElementById('title').focus();
         document.getElementById("title").innerHTML = "Please enter a title";
         document.getElementById('title').style.borderColor ="red";
         return false;
        }

      
       var number = document.getElementById('difficulty').value ;

        // If number is Not a Number or less than one or greater than 5
        if (isNaN(number) || number < 1 || number > 5) {
          document.getElementById('difficulty').focus();
          document.getElementById("difficulty").innerHTML = "testing";
          document.getElementById('difficulty').style.borderColor ="red";
          return false;
          } 
          
        if(document.getElementById('preparation_time').value == ""){
         document.getElementById('preparation_time').focus();
         document.getElementById("preparation_time").innerHTML = "Please enter a title";
         document.getElementById('preparation_time').style.borderColor ="red";
         return false;
        }
        
        if(document.getElementById('cooking_time').value == ""){
         document.getElementById('cooking_time').focus();
         document.getElementById("cooking_time").innerHTML = "Please enter a title";
         document.getElementById('cooking_time').style.borderColor ="red";
         return false;
        }
        
        if(document.getElementById('description').value == ""){
         document.getElementById('description').focus();
         document.getElementById("description").innerHTML = "Please enter a title";
         document.getElementById('description').style.borderColor ="red";
         return false;
        }
        
        if(document.getElementById('ingredients').value == ""){
         document.getElementById('ingredients').focus();
         document.getElementById("ingredients").innerHTML = "Please enter a title";
         document.getElementById('ingredients').style.borderColor ="red";
         return false;
        }
        
        if(document.getElementById('cooking_instructions').value == ""){
         document.getElementById('cooking_instructions').focus();
         document.getElementById("cooking_instructions").innerHTML = "Please enter a title";
         document.getElementById('cooking_instructions').style.borderColor ="red";
         return false;
        }
         
        
      }
      
      /* validation function to stop entering empty field forms - end */ 
      
      function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
            }
            
        $('#demo').pagination({
        dataSource: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 ],
        callback: function(data, pagination) {
        // template method of yourself
        var html = template(data);
        dataContainer.html(html);
    }
})
  
      </script>
    
</body>

    
</html>