{% extends 'base.html' %}

    {% block content %}
    
    
    <div class="row">
   
   <div class="recipe_pic col-lg-3 d-sm-block d-none d-sm-none d-md-block container" >
     <div class="overlay content">
     <a href="/list_recipes">
      <p>Recipes</p>
      <div class="item-description">
        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
    </div></a>
    </div>
   </div>
   <div class="d-lg-none d-sm-block d-none d-sm-none d-md-block homepage-item">
     <p>Recipes</p>
    </div>
     
     
 <!-- Favourites -->
      <div class="favourite_pic col-lg-3 d-sm-block d-none d-sm-none d-md-block container" >
      <div class="overlay content">
       <a href="/show_favourites">
       <p>Favourites</p>
       <div class="item-description">
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
    </div>
  </div>
   </a>
      </div>
      <div class="d-lg-none d-sm-block d-none d-sm-none d-md-block homepage-item">
     <p>Favourites</p>
    </div>
      
      
 <!-- Categories -->
  
     <div class="categories_pic col-lg-3 container img-thumbnail" >
      <div class="content">
       <a href="/list_categories">
    <p>Categories</p>
    <div class="item-description">
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
    </div>
    </a>
  </div>
      </div>
      
     
      
      <!-- Add Recipe -->
      <div class="add_recipe_pic col-lg-3 d-sm-block d-none d-sm-none d-md-block container" >
      <div class="overlay content">
       <a href="/add_recipe">
       <p>Add Recipe</p>
    <div class="item-description">
    <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei.</p>
    </div></a>
  </div>
     </div>
     <div class="d-lg-none d-sm-block d-none d-sm-none d-md-block homepage-item">
     <p>Add Recipe</p>
    </div>
      
       
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-xs-6">
       <div>
         <img src="\static\images\thai.jpg" class="img-thumbnail" alt="thai food">
       </div>
       </div>
      
       
       <div class="col-lg-4 col-xs-6">
       <div class="">
       
        <img src="\static\images\italian.jpg" class="img-thumbnail" alt="thai food">
       </div>
      </div>
      
      <div class="col-lg-4 col-xs-6">
       <div class="">
        
        <img src="\static\images\indian.jpg" class="img-thumbnail" alt="thai food">
       </div>
     </div>
    </div>
    
    <div class="row">
     
     <div class="col-lg-4 col-xs-6">
       <div class="">
        
        <img src="\static\images\desserts.jpg" class="img-thumbnail" alt="thai food">
       </div>
     </div>
     
     <div class="col-lg-4 col-xs-6">
       <div class="">
       
        <img src="\static\images\smoothies.jpg" class="img-thumbnail" alt="thai food">
       </div>
     </div>
     
     <div class="col-lg-4 col-xs-6">
       <div class="">
       
        <img src="\static\images\cocktails.jpg" class="img-thumbnail" alt="thai food">
       </div>
     </div>
    
   </div>
    
    
     
    
    
    
    
   
   
      
        
   
            
        
   
 
    
            
{% endblock %}