{% extends 'base.html' %}

    {% block content %}
    
    
<div class="row">
     
    <!-- Recipes -->
    <div class="recipe_pic pic_parameters col-lg-3 d-none d-lg-block d-xl-none d-lg-none d-xl-block container" >
       <div class="overlay content">
         <a href="/list_recipes">
            <p>Recipes</p>
            <div class="item-description">
             <p>Feel free to browse through a vast array of Recipes</p>
            </div>
         </a>
       </div>
    </div>
   
     
     
    <!-- Favourites -->
    <div class="favourite_pic pic_parameters col-lg-3 d-none d-lg-block d-xl-none d-lg-none d-xl-block container" >
       <div class="overlay content">
          <a href="/show_favourites">
            <p>Favourites</p>
            <div class="item-description">
              <p>Here you can view a list of your favourite Recipes</p>
            </div>
       </div>
          </a>
    </div>
      
      
    <!-- Categories -->
    <div class="categories_pic pic_parameters col-lg-3 container img-thumbnail" >
       <div class="content">
          <a href="/list_categories">
             <p>Categories</p>
             <div class="item-description">
                 <p>Choose from Thai, Indian, Italian Food. A list of mouthwatering desserts or refreshing smoothies or cocktails, alcohol optional of course!</p>
             </div>
          </a>
       </div>
    </div>
        
          
         
          
    <!-- Add Recipe -->
    <div class="add_recipe_pic pic_parameters col-lg-3 d-none d-lg-block d-xl-none d-lg-none d-xl-block container" >
       <div class="overlay content">
          <a href="/add_recipe">
             <p>Add Recipe</p>
             <div class="item-description">
               <p>You can name your recipe, give prep & cook times, put an eye-catching description, list the ingredients & directions, and offer the time the recipe will be ready in, how many servings the recipe makes, and how much the recipe yields</p>
             </div>
          </a>
       </div>
    </div>
</div>
        
        
        <!-- display thumbnail for thai food category 

        
        <div class="row">
           <div class="col-lg-4 col-xs-6">
              <div><a href=""><img src="\static\images\thai.jpg" class="img-thumbnail" alt="thai food"></a>
              </div>
           </div>
           
           <div class="col-lg-4 col-xs-6">
              <div class="" >
                <img src="\static\images\italian.jpg" class="img-thumbnail" alt="italian food">
              </div>
           </div>
                 
           <div class="col-lg-4 col-xs-6">
             <div class="">
               <img src="\static\images\indian.jpg" class="img-thumbnail" alt="indian food">
             </div>
           </div>
        </div>
            
        <div class="row">
          <div class="col-lg-4 col-xs-6">
            <div class="">
              <img src="\static\images\desserts.jpg" class="img-thumbnail" alt="desserts">
            </div>
          </div>
               
          <div class="col-lg-4 col-xs-6">
            <div class="">
              <img src="\static\images\smoothies.jpg" class="img-thumbnail" alt="smoothies">
            </div>
          </div>
               
          <div class="col-lg-4 col-xs-6">
            <div class="">
              <img src="\static\images\cocktails.jpg" class="img-thumbnail" alt="cocktails">
            </div>
          </div>
        </div> -->
    
  
    

   

    <p id="demo"></p>
    
    
    <select id="list" onchange="getSelectedCategory">
        <option selected>Make a selection</option>
        <option value="thai">Thai</option>
        <option value="italian">Italian</option>
        <option value="indian">Indian</option>
        <option value="desserts">Desserts</option>
        <option value="smoothies">Smoothies</option>
        <option value="cocktails">Cocktails</option>
        
    </select>
    
    <button onclick="getSelectedCategory()" >Search</button>
    
    
    
    <div>
        <h4 id="test" ></h4>
        {% for recipe in recipes %}
            {% if recipe.category_name ==   "thai"  %}
        <ul>
            <h4><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">{{recipe.title}}</a></h4>
        </ul>
            {% endif %}
        {% endfor%}
    </div>    
         
        
        
        
        
   
   
    
    
     
    
    
    
    
   
   
      
        
   
            
        
   
 
    
            
{% endblock %}