{% extends 'base.html' %}

    {% block content %}
    

   <h1>Favourites</h1>

    {% for favourite in favourites %}
    
    <div>
        <div class="row">
            <div class="col-md-4">
                <h1><a href="{{url_for('show_recipe', recipe_id=favourite._id)}}"</a>{{favourite.title}}</h1>
            </div>  
            <div class="col-md-6">
                <p class="desc">{{favourite.description}}</p>
            </div> 
        </div>
    </div>
</div>

{% endfor %}
 {% endblock%}