{% extends 'base.html' %}

{% block content %}

   
 <!-- Recipes -->
<div class="row">
  <div class="recipe_pic pic_parameters col-lg-3 col-md-3 col-xs-2 container" >
    <div class="content overlay">
      <a href="/list_recipes">
        <p>Recipes</p>
        <div class="item-description">
        <p>Feel free to browse through a vast array of Recipes</p>
        </div>
      </a>
    </div>
  </div>
  <div class="d-block d-sm-none   homepage-item">
    <p>Recipes</p>
  </div>
     
     
 <!-- Favourites -->
  <div class="favourite_pic pic_parameters col-lg-3 col-md-3 col-xs-2 container" >
     <div class="overlay content">
       <a href="/show_favourites">
          <p>Favourites</p>
          <div class="item-description">
            <p>Here you can view a list of your favourite Recipes</p>
          </div>
       </a>
    </div>
  </div>
  <div class="d-block d-sm-none   homepage-item">
     <p>Favourites</p>
  </div>
      
      
 <!-- Categories -->
  
  <div class="categories_pic pic_parameters col-lg-3 col-md-3 col-xs-2  container" >
     <div class="overlay content">
        <a href="/list_categories">
          <p>Categories</p>
           <div class="item-description">
             <p>Choose from Thai, Indian, Italian Food. A list of mouthwatering desserts or refreshing smoothies or cocktails, alcohol optional of course!</p>
           </div>
        </a>
     </div>
  </div>
  <div class="d-block d-sm-none   homepage-item">
    <p>Categories</p>
  </div>
     
      
      <!-- Add Recipe -->
   <div class="add_recipe_pic pic_parameters col-lg-3 col-md-3 container" >
     <div class="overlay content">
       <a href="/add_recipe">
         <p>Add Recipe</p>
         <div class="item-description">
           <p>You can name your recipe, give prep & cook times, put an eye-catching description, list the ingredients & directions, and offer the time the recipe will be ready in, how many servings the recipe makes, and how much the recipe yields</p>
         </div>
       </a>
     </div>
   </div>
   <div class="d-block d-sm-none   homepage-item">
    <p>Add Recipe</p>
   </div>
</div>
     
     
    
 
     
    


 

{% endblock %}