{% extends 'base.html' %}

{% block content %}

   
 <!-- Recipes -->
  <div class="row">
     <div class="recipe_pic col-lg-3" >
      <div><button class="centered recipe-button"><a class="recipe-link" href="/list_recipes">Recipes</a></button></div>
     </div>
     
 <!-- Favourites -->
      <div class="favourite_pic col-lg-3" >
       <div><button class="centered recipe-button"><a class="recipe-link" href="/show_favourites">Favourites</a></button></div>
      </div>
      
 <!-- Categories -->
  
     <div class="categories_pic col-lg-3" >
     <div><button class="centered recipe-button"><a class="recipe-link" href="/list_categories">Categories</a></button></div>
      </div> 
      
      <!-- Add Recipe -->
      <div class="add_recipe_pic col-lg-3" >
       <div><button class="centered recipe-button"><a class="recipe-link" href="/add_recipe">Add Recipe</a></button></div>
     </div>
      
       
    </div>
     
     
    
 
     
    


 

{% endblock %}