{% extends 'base.html' %}

    {% block content %}
    
   
    
    <h1>Recipes</h1>
    
    {% for recipe in recipes %}
    
    <div class="row">
        <img src="/static/images/thaigreencurry.jpg" alt="Nature" class="responsive">
    </div>
    
<div class="row">
    <div class="col-md-4">
        <h1><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"</a>{{recipe.title}}</h1>
     </div>  
     
    
     <div class="col-md-6">
    <p class="desc">{{recipe.description}}</p>
    </div> 
    
    
    
    
    
</div>
        
{% endfor %}
{% endblock %}
