{% extends 'base.html' %}

    {% block content %}
    

    <h1>Recipes</h1>


    
    {% for recipe in recipes %}
    
    <div class="row">
        <div class="col-xs-6">
           
        </div>
        <div class="col-xs-6">
            <a href="{{url_for('show_recipe', recipe_id=recipe._id)}}"</a>{{recipe.title}}
             <p class="cookingInfo">Prep:<span class="cooking-time">{{recipe.preparation_time}}</span></p>
                <p class="cookingInfo">Cooking:<span class="cooking-time">{{recipe.cooking_time}}</span></p>
            
        </div>
    </div>
   
    
    
    
    

        
{% endfor %}
{% endblock %}
