{% extends 'base.html' %}

    {% block content %}

    
<div class="container recipe-details-container">
    
    
    <div class="row">
        <div class="col-md-6">
            <h1><a href="#">{{recipe.title}}</a></h1>
            <p> {{recipe.description}}</p>
            <div>
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="desc icon-size" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="desc icon-size" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                <a  onclick="myPrint()" title="Print"><i class="fa fa-print"></i></a>
                <a href="mailto:?subject={{recipe.title}}&amp;body=Check out this recipe http://my-cookbook-raycrowley.c9users.io/show_recipe/{{recipe._id}}." title="Email"><i class="fa fa-envelope"></i></a>
                <a href="http://twitter.com/share?url=https%3A//http://my-cookbook-raycrowley.c9users.io/show_recipe/{{recipe._id}}" title="Share this on Twitter"
                class="service-links-twitter service-links-link analytics-processed service-links-popup-processed" rel="nofollow" data-service-name="Twitter"><i class="fa fa-twitter"></i></i><span class="service-links-text"></span></a>
                <a href="http://www.facebook.com/sharer.php?u=https%3A//www.my-cookbook-raycrowley.c9users.io/show_recipe/{{recipe._id}}" title="Share on Facebook"
                class="service-links-facebook service-links-link analytics-processed service-links-popup-processed" rel="nofollow" data-service-name="Facebook"><i class="fa fa-facebook"></i><span class="service-links-text"></span></a>
                
            </div>
        </div>
        <div class="recipe-details-container menuinfo col-md-6">
            <div class="row">
                <p class="cookingInfo col-md-6"><i class="fas fa-utensils"></i><span class="cooking-time">{{recipe.serves}}</span></p>
                <p class="cookingInfo col-md-6">Difficulty:<span class="cooking-time">{{recipe.difficulty}}</span></p>
            </div>
            <div class="row">
                <p class="cookingInfo col-md-6 col-sm-12">Prep:<span class="cooking-time">{{recipe.preparation_time}}</span></p>
                <p class="cookingInfo col-md-6 col-sm-12">Cooking:<span class="cooking-time">{{recipe.cooking_time}}</span></p>
            </div>
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
          <!--  <h1>Ingredients</h1> -->
          
          <table class="table table-striped">
          <thead>
            <tr>
             <th scope="col"><h3>Ingredients</h3></th>
            </tr>
          </thead>
           <tbody>
                {% for ingredient  in recipe.ingredients.splitlines() %}
            <tr>
              <td>{{ingredient}}</td>
            </tr> 
            
             {% endfor %}
           </tbody>
        </table>
           
                 
        </div>
        <div class="col-md-6">
            <h3>cooking instructions</h3>
            <ol> 
              
              {% for instruction in recipe.cooking_instructions.split('.') %}
              <li>{{instruction}}</li>
              {% endfor %}
            </ol> 
        </div>
    </div> 
</div>
    




        

{% endblock %}
