{% extends 'base.html' %}

    {% block content %}
    
   <button onclick="goBack()">Go Back</button>
    
<div class="container">
<div class="menuInfo">
    
    
    
<div class="row" >
    <div class="col-sm-6 ">
        <h3><a href="#">{{recipe.title}}</a></h3>
        <p > {{recipe.description}}</p>
     </div>   
    <hr>
    
    <div class="col-sm-3 col-xs-6">
            <p class="cookingInfo">Rating:</p><span>{{recipe.rating}}</span>
        </div>
        <div class="col-sm-3 col-xs-6">
            <p class="cookingInfo">Difficulty:</p><span>{{recipe.difficulty}}</span>
        </div>
        
        <div class="col-sm-3 col-xs-6">
            <p class="cookingInfo">Prep time:</p><span>{{recipe.preparation_time}}</span>
            
            
        </div>
        <div class="col-sm-3 col-xs-6">
            <p class="cookingInfo">Cooking time:</p><span>{{recipe.cooking_time}}</span>
            
        </div>
       
    
</div>
        
    <div class="row">
        
        <div class="col-sm-6">
    
    </div>
    <div class="col-sm-3 col-xs-6">
            <p class="cookingInfo">Vegan Friendly:</p><span>{{recipe.vegan_friendly}}</span>
        </div>
        
        <div class="col-sm-3 col-xs-6">
             <p class="cookingInfo">Gluten Free:</p><span>{{recipe.gluten_free}}</span>
        </div>
    
    </div>
</div>
    
        
<hr>
    <div class="row">
        <div class="col-sm-6">
            <h1>Ingredients</h1>
            <hr>
            <p>{{recipe.ingredients}}</p>
        </div>
        <div class="col-sm-6">
            <h1>cooking instructions</h1>
            <hr>
            <p>{{recipe.cooking_instructions}}</p>
        </div>
                
        <hr>
    </div> 
    
</div>



        

{% endblock %}
